body{
    margin:100px;
}
#button {
    width: 50px;
    display: table-cell; 
    border: solid;
    border-color: rgb(31, 209, 55);
    border-radius: 10px;
    border-width: 2px;
    text-align: center;
    text-decoration: blink;
    padding: 25px;
    width: 50px;
    height: 50px;
    margin: auto;
}
#displaycontainer {
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
     width: 400px;
    height: 100px;
    text-align: right;
    font-weight: bolder;
    font-size: xx-large;
    font-stretch: ultra-expanded;
    padding: 10px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}
#calculator_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}